<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Horizon.AppointmentKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Horizon.AppointmentKeeper.Properties.Settings>
      <setting name="NormalColor" serializeAs="String">
          <value>#00FF00</value>
      </setting>
      <setting name="WarningColor" serializeAs="String">
          <value>#FFFF00</value>
      </setting>
      <setting name="DangerColor" serializeAs="String">
          <value>#FF0000</value>
      </setting>
      <setting name="WarningThreshold" serializeAs="String">
          <value>00:10:00</value>
      </setting>
      <setting name="DangerThreshold" serializeAs="String">
          <value>00:05:00</value>
      </setting>
      <setting name="WindowX" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="WindowY" serializeAs="String">
          <value>0</value>
      </setting>
      <setting name="AlwaysOnTop" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
          <value>75</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
          <value>220</value>
      </setting>
      <setting name="CustomWarningSound" serializeAs="String">
          <value />
      </setting>
      <setting name="CustomDangerSound" serializeAs="String">
          <value />
      </setting>
      <setting name="CustomExpiredSound" serializeAs="String">
          <value />
      </setting>
      <setting name="TimerFontFamily" serializeAs="String">
          <value />
      </setting>
      <setting name="TimerFontItalicized" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="GraphEnabled" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="CalenderCheckTimeout" serializeAs="String">
          <value>00:01:00</value>
      </setting>
      <setting name="GraphCalendar" serializeAs="String">
          <value />
      </setting>
      <setting name="CustomEventChangeSound" serializeAs="String">
          <value />
      </setting>
      <setting name="Mute" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MuteDangerSound" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MuteWarningSound" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MuteExpiredSound" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="MuteEventChangeSound" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="ShowNextEvent" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="WindowOpacity" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="NextEventBackgroundColor" serializeAs="String">
          <value>#000000</value>
      </setting>
      <setting name="ExpiredSoundVolume" serializeAs="String">
          <value>0.45</value>
      </setting>
      <setting name="WarningSoundVolume" serializeAs="String">
          <value>0.45</value>
      </setting>
      <setting name="DangerSoundVolume" serializeAs="String">
          <value>0.45</value>
      </setting>
      <setting name="EventChangedSoundVolume" serializeAs="String">
          <value>0.45</value>
      </setting>
      <setting name="Volume" serializeAs="String">
          <value>1</value>
      </setting>
      <setting name="TimerFontBold" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="InfoStyle" serializeAs="String">
          <value>Solid</value>
      </setting>
      <setting name="TimerSpace" serializeAs="String">
          <value>800</value>
      </setting>
      <setting name="RefreshToken" serializeAs="String">
          <value />
      </setting>
  </Horizon.AppointmentKeeper.Properties.Settings>
    </userSettings>
</configuration>